[core]
    editor = \"%USERPROFILE%\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
    autocrlf = input
    eol = lf
[color]
    status=auto
    branch=auto
    interactive=auto
    diff=auto
[user]
    email = 
[push]
    autoSetupRemote = true
